
/* body *{
    outline: 1px solid pink;
} */

.whole_page_container{
    height: 800px;
    width: 1020px;
    background-color: silver;
    margin: 0px auto;
}

div.whole_page_container div.pageheader{
    min-height: 100px;
    width: 290;
    background-color: lightgray;
}

div.whole_page_container div.pageheader div.my_name{
    min-height: 50px;
    width: 420px;
    text-align: left;
    font-size: 40px;
    font-style: italic;
    padding: 15px;
    margin: 10px;
    vertical-align: top;
    display: inline-block;
}

div.whole_page_container div.pageheader div.my_address{
    min-height: 50px;
    width: 420px;
    padding: 15px;
    margin: 10px;
    text-align: right;
    font-size: 40px;
    font-style: italic;
    vertical-align: top;
    display: inline-block;
}

div.whole_page_container div.about_me_box div.my_image{
    min-height: 40px;
    width: 320px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    border-style: solid;
}

div.whole_page_container div.about_me{
    min-height: 90px;
    width: 550px;
    vertical-align: top;
    padding: 10px;
    margin: 10px;
    text-align: left;
    display: inline-block;
    border-style: solid;
}

div.whole_page_container div.details div.my_school, div.my_work, div.Contacts{
    min-height: 40px;
    width: 280px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-style: solid;
    background-color: azure;
}

div.whole_page_container div.details ul li{
    padding: 10px;
    margin: 5px;
    display: inline;
}

div.whole_page_container div.details ul{
    border-radius: 5px;
    width: 280px;
    padding: 2px;
    display: inline-block;
    background-color: lightgreen;
    border-radius: 10px 10px 10px 10px;
}
div.technologies div.school_tech, div.work_tech, div.personal_tech{
    min-height: 100px;
    width: 280px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-style: solid;
    background-color: wheat;
    
}

div.whole_page_container div.technologies a{
    background-color: yellow;
    border-bottom-style: ridge;
    text-decoration: none;
}




